<div>
  <h1>This is a future service for byiung pruducts from China site 1688.com</h1>
  <br>
  <p>Example of translate string: <%= @translate_str %> </p>

  <p>Currency rate for code  840 is <%= @currency_rate %> </p>

  <p>Title for product is <%= @product_data %> </p>
</div>
